<%- include('../deelsjabloon/kop.ejs'); %>
	<h1><%= gegevens.voornaam%></h1>
	<dl>
		<dt>Voornaam:</dt>
		<dd><%= gegevens.voornaam %></dd>
		<dt>Achternaam</dt>
		<dd><%= gegevens.achternaam %></dd>
		<dt>Leeftijd</dt>
		<dd><%= gegevens.leeftijd %></dd>
	</dl>
<%- include('../deelsjabloon/voet.ejs'); %>


