<%- include('../partials/head.ejs') %>

	<form method="post">
		<div>
			<label for="title">Titel:
				<input type="text" id="title" name="title" value="<%= data.title %>">
			</label>
		</div>
		<div>
			<label for="year">Jaar:
				<input type="text" id="year" name="year" value="<%= data.year %>">
			</label>
		</div>
		<div>
			<label for="director">Regisseur:
				<input type="text" id="director" name="director" value="<%= data.director %>">
			</label>
		</div>
		<div>
			<label for="rating">Beoordeling:
				<input type="text" id="rating" name="rating" value="<%= data.rating %>">
			</label>
		</div>
		<div>
			<input type="submit" value="Opslaan">
		</div>
	</form>

<%- include('../partials/foot.ejs') %>